<div ng-show="hasLocalAccount">
    <form class="form-horizontal" role="form" name="ManagePasswordForm" novalidate>

        <h4>Change Password Form</h4>
        <hr />

        <ul class="text-danger" ng-if="changePasswordErrors">
            <li ng-repeat="changePasswordError in changePasswordErrors">{{ changePasswordError }}</li>
        </ul>

        <div class="form-group">
            <label for="OldPassword" class="col-md-2 control-label">Old Password</label>
            <div class="col-md-10">
                <input type="password" ng-model="password.oldPassword" id="OldPassword" name="OldPassword" class="form-control" ng-required="true" />
                <span class="field-validation-error" ng-if="managePasswordFormSubmitted && ManagePasswordForm.OldPassword.$invalid">The Old Password field is invalid.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="NewPassword" class="col-md-2 control-label">New Password</label>
            <div class="col-md-10">
                <input type="password" ng-model="password.newPassword" id="NewPassword" name="NewPassword" class="form-control" ng-required="true" />
                <span class="field-validation-error" ng-if="managePasswordFormSubmitted && ManagePasswordForm.NewPassword.$invalid">The New Password field is invalid.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword" class="col-md-2 control-label">Confirm Password</label>
            <div class="col-md-10">
                <input type="password" ng-model="password.confirmPassword" id="ConfirmPassword" name="ConfirmPassword" class="form-control" ng-required="true" />
                <span class="field-validation-error" ng-if="managePasswordFormSubmitted && ManagePasswordForm.ConfirmPassword.$invalid">The Confirm Password field is invalid.</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Change password" class="btn btn-success" ng-click="changePassword(password)" />
            </div>
        </div>
    </form>
</div>

<div ng-show="!hasLocalAccount">
    <div class="alert alert-info">
        <i class="fa fa-warning fa-lg"></i>
        Sorry! You do not have a local account for this site.
    </div>
    
    <a ng-href="#/home">Go to home page</a>
</div>