<h3>Pending Friend Requests</h3>

<div ng-if="pendingRequestsFetchInProgress">
    <i class="fa fa-spinner fa-spin fa-2x"></i> Loading Request...
</div>

<hr />

<div class="findFriendrow" ng-repeat="user in pendingRequests">
    <img ng-src='{{user.avatarUrl}}' alt="{{user.firstName}}" />
    <div class="infoContainer">
        <div class="info"><a ng-href="#/profile/{{user.id}}"><i class="fa fa-user"></i> {{user.firstName}} {{user.lastName}}</a></div>
        <div>
            <button class="btn btn-primary" ng-click="addFriend(user)" ng-disabled="user.addedAsFriend">
                {{user.addedAsFriend ? 'Request Confirmed' : 'Confirm'}}
            </button>
            <button class="btn btn-danger" ng-click="addFriend(user)" ng-hide="user.addedAsFriend" ng-disabled="user.isFriendRequestedRejected">Reject</button>
        </div>
    </div>
    <div class="clearBoth"></div>
</div>

<div class="clearBoth"></div>

<div ng-if="!pendingRequests.length">
    <div class="alert alert-info">
        You have no pending friend request!
    </div>
</div>