<h2>Search Result</h2>

<div ng-if="userSearchInProgress">
    <i class="fa fa-spinner fa-spin fa-2x"></i> Loading Search Results...
</div>

<hr />

<div class="findFriendrow" ng-repeat="user in users">
    <img ng-src="{{user.avatarUrl}}" alt="{{user.firstName}}" />
    <div class="infoContainer">
        <div class="info">
            <a ng-href="#/profile/{{user.id}}">
                <i class="fa fa-user"></i> {{user.firstName}} {{user.lastName}}
            </a>
        </div>
        <div>
            <button class="btn btn-primary btn-sm" ng-click="addFriend(user)" ng-disabled="user.isFriendActionDisabled || user.isFriendRequestSent">
                {{user.isFriendRequestSent ? 'Friend Request Sent' : (user.isMyFriend ? 'Unfriend' : 'Add Friend')}}
            </button>
        </div>
    </div>
    <div class="clearBoth"></div>
</div>

<div class="clearBoth"></div>

<div ng-if="!users.length">
    <div class="alert alert-info">
        No result found based on your search!
    </div>
</div>