<h3>Share something</h3>
<hr />

<form class="form-horizontal" role="form" name="AddPostForm" novalidate>
    <textarea style="float: none" placeholder="What's on your mind?" class="form-control col-lg-9" ng-model="post.message" name="Message" id="Message" ng-required="true"></textarea>
    <br />
    <div><input type="submit" class="btn btn-success" value="Share Post" ng-click="addPost(post)" /></div>

</form>

<h2>Post Feeds</h2>

<div ng-if="postFetchInProgresss">
    <i class="fa fa-spinner fa-spin fa-2x"></i> Loading Feeds...
</div>

<hr />

<div ng-show="posts.length" id="posts">

    <div class="row userNewsFeed" ng-repeat="post in posts">
        <div class="col-xs-12">
            
            <i class="fa fa-trash-o fa-2x red" style="float: right;cursor: pointer" ng-show="isPostedBySameObject(post)" ng-click="removePost(post, $index)"></i>

            <a ng-href="#/profile/{{post.postedBy.id}}" class="userInfoLink">
                <img ng-src="{{post.postedBy.avatarUrl}}" class="userIcon" alt="" />
                <span class="postedBy">{{post.postedBy.firstName}} {{post.postedBy.lastName}}</span>
            </a>

            <p class="postMessage"> {{post.message}} </p>
            <a href="javascript:void(0)" ng-click="toggleLike(post)" class="postLike">
                <i class="fa fa-thumbs-o-{{post.likedByMe ? 'down' : 'up'}}"></i>
                {{post.likedByMe ? 'Unlike' : 'Like'}}
            </a>
            <p>{{post.likeCount}} Person like this</p>
           
            <div class="commentDisplay" ng-show="post.comments.length">
                <p ng-repeat="comment in post.comments" class="comment">
                    <a ng-href="#/profile/{{comment.commentedBy.id}}" class="userInfoLink">
                        <img ng-src="{{comment.commentedBy.avatarUrl}}" alt="commentedBy" class="userIconMini" />
                        <span class="commentedBy">{{comment.commentedBy.firstName}} {{comment.commentedBy.lastName}}</span>
                    </a>
                    <span> {{comment.description}}</span>
                </p>
            </div>
            
            <textarea class="col-lg-9 commentMessage form-control"
                      ng-model="post.newComment.description" name="NewComment" id="NewComment" placeholder="Write a comment"></textarea>
            <br />
            <div>
                <input type="button" ng-click="addComment(post)" class="btn btn-info btn-sm" value="Add Comment" />
            </div>

        </div>
    </div>
</div>

<div ng-if="!posts.length">
    <div class="alert alert-info">You dont have any news feed.</div>
</div>