<ul class="nav navbar-nav navbar-right" ng-if="authenticatedUser.hasRegistered">
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Hello {{authenticatedUser.userName}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a ng-href="#/account/profile"><i class="fa fa-user"></i> Manage Profile</a></li>
            <li><a ng-href="#/account/profile/changePassword"><i class="fa fa-edit"></i> Change Password</a></li>
            <li><a href="javascript:void(0)" ng-click="logout()"><i class="fa fa-power-off"></i> Log off</a></li>
        </ul>
    </li>
</ul>

<ul class="nav navbar-nav navbar-right" ng-if="!authenticatedUser.hasRegistered">
    <li><a ng-href="#/account/register">Register</a></li>
    <li><a ng-href="#/account/login">Login</a></li>
</ul>